.delete{
  border: 1px solid transparent;
  background: #DDD;
  padding: 0.3rem 0.6rem;
  color: #999999;

  font-size: 0.875;
  font-family: var(--type-first);
  border-radius: 0.4rem;
  cursor: pointer;
  line-height: 1;
  transition: 0.1s;
  outline: none;
}
.delete:focus,.delete:hover{
  outline: none;
  background: white;
  box-shadow: 0 0 0 3px #eee;
  border: 1px solid #333;
}